# Visual Studio
.vs/
*.suo
*.user
*.userprefs
*.tmp
*.bak
*.resharper
*.dotSettings
*.pidb
*.booproj
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Oo]ut/
build/
Build/
*.log
*.pfx
*.err
*.scc
_UpgradeReport_Files/
App_Data/

# Node.js
node_modules/
npm-debug.log

# Editor config
.editorconfig

# Local machine specific files
*.user.json